streamlit
pandas==1.5.3
numpy==1.22.0
yfinance
plotly
pandas-ta==0.3.14b0
stocknews
requests
textblob
beautifulsoup4
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz